.table {
    background-color: royalblue;
    border: 3px solid black;
    margin: 10px auto;
}

.table__title {
    font-size: 25px;
    color: white;
    padding: 10px;
}

.table_item {
    text-align: center;
    vertical-align: center;
    padding: 5px;
    border: 1px dotted black;
}

tr:hover {
    background-color: lightskyblue;
}